.stuffs {
  display: flex;

  width: 600px;
  height: 260px;
  margin-left: 100px;
  margin-top: 360px;
  background-color: #121640;
  border-radius: 10px;
  box-shadow: 2px 2px 3px white;
  align-items: center;
}

.stuff {
  display : flex;
  width: 240px;
  height: 240px;

}

.stuffs img {
width: 200px;
  height: 200px;
  border-radius: 10px;
}


.stuffs p {
  display: flex;
  justify-content: space-evenly;
  color: white;
 font-family: 'Kanit', sans-serif;
 margin-left: -142px;
  margin-top: 200px;
}






